$body-color: #23232f;
$main-color: #676eff;
$secondary-color: #72748e;

$white: #fff;
$black: #000;

$box-shadow: 0 0 7px rgb(0 0 0 / 90%);
$border-radius: 30px;

$mobile-width: 767.98px;
$tablet-width: 991.98px;
$desktop-width: 1199.98px;

$header-height: 100px;
$header-shrink-height: 64px;

$gotham: "Gotham", sans-serif;
$gotham-black: "Gotham Black", sans-serif;
$cabin: "Cabin", sans-serif;
